h1 {
    text-align: center;
    font-size: 23px;
}

img {
    width: 400px;
    height: 400px;
}

button {
    margin-top: 15px;
}

.homer-reply {
    padding: 15px;
    display: inline;
}

body {
    background-color: gray;
    font-family:Courier New;
    color: #ffffff;
    display: flex;
    justify-content: center;
    
}

button {
	background-color:#515c53;
	border-radius:42px;
	border:5px solid #8e948f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:18px;
	padding:9px 16px;
	text-decoration:none;
	text-shadow:-1px 2px 10px #090a09;
}
.myButton:hover {
	background-color:#161716;
}
.myButton:active {
	position:relative;
	top:1px;
}
.main {
    width: 400px;
}

